@use 'variaveis';

.footer {
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 40px auto;
        text-align: center;
    }

    &__links {
        margin-bottom: 33px;
        &__item {
            display: block;

            a {
                text-decoration: none;
                padding: 8px 16px;
                display: block;

                &:hover {
                    color: variaveis.$corTextoSecundario;
                }
            }
        }
    }

}

.language-selector {
    margin-top: 12px;
    align-items: center ;
    img {
        height: 18px;
        width: 18px;
    }

    select {
        background-color: transparent;
        border: none;
        color: variaveis.$corTextoPrincipal;
        height: 38px;

        &:hover {
            color: variaveis.$corTextoSecundario;
        }

        option {
            color: variaveis.$corDeFundo;
        }
    }
}