@use 'variaveis';
.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../../src/images/Batman\ wallpaper\ 1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    text-align: center;

    @media (max-width: 768px) {
        background-image: url(../../src/images/Batman\ wallpaper\ 1920x1080.jpg);
        padding: 5.6vw;   
        background-repeat: no-repeat;
    }
    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 640px;
        margin-right: 390px;

        @media (max-width: 768px) {
            width: 100%;

        }

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;

            @media (max-width: 768px) {
                max-width: 80px;
            }
        }

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-top: 50px;
            }
        }
        
        &__combos {
            
            display: flex;
            justify-content: space-between;
            
            @media (max-width: 768px) {
                display: block;
            }

            &__combo {
                width: calc(50% - 12px);
                list-style: none;

                @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 24px ;

                img{
                    width: 66px;
                    height: 66px;
                    border-radius: 50%;
                }
            }

                img {
                    max-height: 66px;
                    border-radius: 20%;
                    

                }

            
            }
        }
}
}