@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;

body {
    background-color: $corDeFundo;
}



/* Mixins */
@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $corTextoPrincipal;
}
@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: $corTextoSecundario;
} 

/* Texts */
.text--big {
    @include text(18px);
}
.text {
    @include text;
}
.text--small {
    @include text(12px);;
}

/* Titles */
.title--big {
    @include title(44px);
}
.title {
    @include title;
}
.title--small {
    @include title(28px)
}

.link-text {
    @include text(18px);
    color: $corTextoSecundario;
    text-decoration: underline;
}